body {
    background-color: #00008B;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 20px;
}

h2 {
    background-color: gray;
    color: white;
    margin-top: 20px;
}

h3 {
    color: white;
    margin-top: 20px;

}

h4 {
    color: white;
    background-color: black;

}

h5 {
    color: white;
    margin-top: 20px;

}

h6 {
    color: white;
    margin-top: 20px;

}


p {
    color: white;
    margin-top: 20px;

}

li {
    color: white;
    margin-top: 20px;
    text-align: center;
}


nav {
    margin-top: 0px;
    background-color: black;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: gray;
}

.banner img {
    width: 60%;
    margin-top: 20px;
    border-radius: 10px;
}

.contact-box {
    background: white;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

footer {
    background-color: #00008B;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}

.contact-section {
    background: white;
    padding: 40px 0;
}

.contact-container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.contact-wrapper {
    width: 70%;        
    margin: 0 auto;   
    background: white;
    padding: 40px 0;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.contact-card {
    width: 80%;
    margin: auto;
    text-align: center;
}

.chart {
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 200px;
  margin: auto;
  gap: 10px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
}

.bar {
  width: 80px;
  background: steelblue;
  color: white;
  text-align: center;
}
